{% extends "layout.html" %}
{% block content %}
<h2 class="mb-4">{{ title }}</h2>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-sm table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Claims</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        {% for provisioner in provisioners %}
          {% set data = provisioner.data %}
          <tr>
            <td><code>{{ provisioner.nkey }}</code></td>
            <td>{{ data.name or "—" }}</td>
            <td>
              {% if data.type == 1 %}
                JWK
              {% elif data.type == 6 %}
                ACME
              {% else %}
                {{ data.type }}
              {% endif %}
            </td>
            <td>
              {% if data.claims.x509 %}
                x509: 
                {{ data.claims.x509.durations.default or "—" }}
              {% else %}
                <em>—</em>
              {% endif %}
            </td>
            <td>{{ data.createdAt or "—" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
